@page "/computers"
@inject ComputerService ComputerService
@inject ApiService ApiService
@inject RoomService RoomService
@inject NavigationManager Navigation

<h3>Ordinateurs</h3>
<table class="table">
<tbody>
    <tr>
        <td><button @onclick="GoToCreate">Ajouter un ordinateur</button></td>
        <td>
            <label> Assigner un PC à une salle: </label>
            <select @bind="selectedRoomId" class="form-select">
                <option value="">Selectionner une salle</option>
                @foreach (var room in rooms)
                {
                    <option value="@room.Id">@room.Name</option>
                }
            </select>
        </td>
    </tr>
</tbody>
</table>





@if (computers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>IP Address</th>
            <th>RAM</th>
            <th>Disk</th>
            <th>Disk Brand</th>
            <th>OS</th>
            <th>SaveDate</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computer in computers)
        {
            <tr>
                <td>@computer.ComputerName</td>
                <td>@computer.IpAddress</td>
                <td>@computer.RamSize GB</td>
                <td>@computer.DiskSize GB</td>
                <td>@computer.DiskBrand GB</td>
                <td>@computer.OperatingSystem</td>
                <td>@computer.SaveDate</td>
                <td>@computer.Room?.Name</td>
                <td>
                    <button @onclick="() => GoToEdit(computer.Id)">Edit</button>
                    <button @onclick="() => DeleteComputer(computer.Id)">Delete</button>
                    <button @onclick="()=> AssignToRoom(computer.Id)">Assign</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private List<Computer> computers = new();
    private List<Room> rooms = new();
    private int selectedRoomId;

    private async Task AssignToRoom(int computerId)
    {
        await ApiService.AssignComputerToRoomAsync(computerId, selectedRoomId);
        Navigation.Refresh();
    }
    protected override async Task OnInitializedAsync()
    {
        computers = await ComputerService.GetComputersAsync();
        rooms = await RoomService.GetRoomsAsync();
    }

    private void GoToCreate() => Navigation.NavigateTo("/computers/create");

    private void GoToEdit(int id) => Navigation.NavigateTo($"/computers/edit/{id}");

    private async Task DeleteComputer(int id)
    {
        await ComputerService.DeleteComputerAsync(id);
        computers = await ComputerService.GetComputersAsync();
    }
}
